/***********************************************************************************************
	Salient by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
    
**********************************************************************************************/

/***********************************************************************************************/
/* TABLE OF CONTENTS: */
/***********************************************************************************************/

/*------------------------------------------------------------------------


  01. Common Styles
      -Typography
      -Buttons
      -Form
  02. Preloader
  03. Navbar
  04. Hero section
      -Hero section 2
      -Hero section 3
      -Hero section 4
  05. Home hero
  06. About Section
  07. Choose Section
  08. Projects Section
  09. Clients section
  10. Statistics Section
  11. Call-to-action section
  12. Services
  13. Portfolio Page
  14. Tweet section
  15. Blog-section
  16. Contact section
  17. Google maps
  18. Single-project
  19. Landing page
      -Features Section
      -Video section
      -Offer section
      -Screenshots
      -Subscribe section
      -Testimonials section
  20. Landing Blog
      -Pagination
      -Comments section
      -Sidebar
      -About widget
      -Tags
      -Recent Posts 
  21. App landing page
  22. Coming soon page
  23. Personal page
  24. Footer
  25. Back to top
  26. Responsive Part

--------------------------------------------------------------------------*/



/*--------------------
  Video section
----------------------*/

#video-section {
  background: url('../images/temp/tweet-bg.jpg') center top;
  position: relative;
  padding: 100px 0;
}

#video-section:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: .9;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#video-section .container {
  position: relative;
  z-index: 3;
}

#video-section .video-section-content a {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border: 3px solid rgba(0,0,0, .93);
  text-align: center;
  line-height: 78px;
  font-size: 28px;
  color:＃000000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#video-section .video-section-content a .fa-play {
  position: relative;
  left: 4px;
}

.video-head {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  padding-bottom: 7px;
}

.video-sub-heading {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 1.3;
  opacity: .9;
  color: #fff;
}

/